*{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.flex-container {
  font-size: 0;
}

/* Header */
.flex-container .header {
  flex-direction: row;
  background-color: #1F2937;
}
.flex-container .header .left{
  flex:1 1 0%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color:#F9FAF8
}
.flex-container .header .right{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex:1 1 0%;
  font-size: 18px;
  color:#E5E7EB;
}
.flex-container .header .right .headlink{
}


/* Section 1 */
.flex-container .upperContent{
  background: #1F2937;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex:1 1 0%;
}
.flex-container .upperContent .middle{
  margin: 10%;
  flex-direction: row;
}

.flex-container .upperContent .middle .left{
  flex-direction: column;
  flex:0.5 0.5 0%;
}
.flex-container .upperContent .middle .left .title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  padding: 0px;
  margin: 0px;
}

.flex-container .upperContent .middle .left .content{
  font-weight: 900;
  font-size: 18px;
  color:#E5E7EB;
  padding:0px;
  margin:0px;

}
.flex-container .upperContent .middle .left .signUp{
  background: #1F2937;
}
.flex-container .upperContent .middle .left .signUp .button{
  background-color:#3882f6;
  padding:10px;
  border-radius:10px;
  font-size: 14px;
  font-weight: 600px;
  color:#E5E7EB;
  width: 150px;
  height:50px;
  justify-content: center;
  align-items: center;
}

.flex-container .upperContent .middle .right{
  flex:0.5 0.5 0%;
  justify-content: center;
  align-items: center;
}
img{
  max-width: 70%;

}

/* Section 2 */
.flex-container .midContent{
}

 .flex-container .midContent .upper {
 }
 .flex-container .midContent .mid{
 }
 .flex-container .midContent .mid .rectangles{
 }
 .flex-container .midContent .mid .rectangles .upper{
 }
 .flex-container .midContent .mid .rectangles .lower{
 }
 .flex-container .midContent .lower{
 }

 /* Section 3 */
.flex-container .lowerContent{
}
.flex-container .lowerContent .group{
}
.flex-container .lowerContent .group .quote{
}
.flex-container .lowerContent .group .quotePerson{
}

/* Section 4 */
.flex-container .lowestContent{
}
.flex-container .lowestContent .group{
}
.flex-container .lowestContent .group .left{

}
.flex-container .lowestContent .group .right{
}
.flex-container .lowestContent .group .right .button {
}
.flex-container .lowestContent .group .left .cTA {
  background-color:#3882f6;
}
.flex-container .lowestContent .group .left .cTAtext{
}

/* Footer */
.flex-container .footer{
}

h1{
  margin:0px;
  padding:0px;
}
h2{
  margin:0px;
  padding:0px;
}
h3{
  margin:0px;
  padding:0px;
}